*.class

# Package Files #
*.jar
*.war
*.ear
*.iml
# Eclipse configurations #
.classpath
.project
.settings
.checkstyle
**/*.iml
**/.classpath
**/.project
**/.settings
**/.checkstyle
# Build directories #
target
bin
build
**/target
**/build
**/bin
**/*.xml.versionsBackup
# Non related objects #
.idea
.gradle
.DS_Store

